<!--NOT FOUND MESSAGE-->
<app-not-found
  [visible]="!food"
  notFoundMessage="Food Not Found"
  resetLinkText="Back to Home Page"
></app-not-found>

<!--FOOD PAGE-->
<div *ngIf="food" class="container">
  <!--FOOD IMAGE-->
  <img [src]="food.imageUrl" [alt]="food.name" />

  <!--FOOD DETAILS-->
  <div class="details">
    <!--FOOD NAME-->
    <div class="header">
      <span class="name">
        {{ food.name }}
      </span>
      <span class="favorite {{ food.favorite ? '' : 'not' }}"> ❤ </span>
    </div>

    <!--FOOD RATING-->
    <div class="rating">
      <star-rating
        [value]="food.stars"
        [totalstars]="5"
        checkedcolor="red"
        uncheckedcolor="black"
        size="25px"
        [readonly]="true"
      ></star-rating>
    </div>

    <!--FOOD COUNTRY ORIGIN-->
    <div class="origins">
      <span *ngFor="let origin of food.origins">{{ origin }}</span>
    </div>

    <!--FOOD TAGS-->
    <div class="tags">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{ tag }}">
        {{ tag }}
      </a>
    </div>

    <!--FOOD COOK TIME-->
    <div class="cook-time">
      <span
        >Time to cook about <strong>{{ food.cookTime }}</strong> minutes</span
      >
    </div>

    <!--FOOD PRICE-->
    <div class="price">
      <span>{{ food.price | currency }}</span>
    </div>

    <!--CART BUTTON-->
    <button (click)="addToCart()">Add To Cart</button>
  </div>
</div>
