<!--LOGIN PAGE-->
<div class="container">
  <div class="details">
    <!--TITLE-->
    <app-title title="Login"></app-title>

    <!--LOGIN FORM-->
    <!-- ngSubmit executes the submit function when a submit button is clicked -->
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <!--EMAIL INPUT AND ERROR MESSAGES-->
      <text-input [control]="fc.email" [showErrorsWhen]="isSubmitted" type="email" label="Email"/>

      <!--PASSWORD INPUT AND ERROR MESSAGES-->
      <text-input [control]="fc.password" [showErrorsWhen]="isSubmitted" type="password" label="Password"/>

      <!--LOGIN BUTTON-->
      <default-button text="Login"></default-button>

      <!--REGISTER LINK-->
      <div class="register">New user? &nbsp;
        <a routerLink="/register" [queryParams]="{returnUrl: returnUrl}">Register here</a>
      </div>
    </form>
  </div>
</div>
