<!--CHECKOUT PAGE-->
<div class="container">
  <div class="content">
    <!--ORDER TITLE-->
    <app-title title="Order Form" fontSize="1.6rem"/>

    <!--ORDER FORM-->
    <form [formGroup]="checkoutForm">

      <!--NAME INPUT-->
      <text-input [control]="fc.name" label="Name"></text-input>

      <!--ADDRESS INPUT-->
      <text-input [control]="fc.address" label="Address"></text-input>
    </form>

    <!--LIST OF ORDERED FOOD-->
    <order-items-list [order]="order"></order-items-list>
  </div>

  <div class="map">
    <!--MAP TITLE-->
    <app-title title="Choose Your Address on Map" fontSize="1.6rem"></app-title>

    <!--LEAFLET MAP-->
    <map [order]="order"></map>
  </div>

  <!--PAYMENT BUTTON-->
  <div class="buttons-container">
    <div class="buttons">
      <button (click)="createOrder()">
        Go to Payment
      </button>
    </div>
  </div>
</div>
